<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/public/js/trainingUser.js"></script>
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>Training User</title>
  </head>
  <body>
    <div class="header-background">
      <img src="/public/img/unisexeAvatar.jpg" alt="Avatar" class="avatar" />
      <h1 class="full-name"><%= data.trainingProfile[0].fullName %></h1>
    </div>

    <!-- Redirect Dashboard -->

    <div class="main-background" id="main-profile">
      <a
        href="/training-user/<%= data.trainingProfile[0].training_id %>/experience"
        ><button class="main-boutton" role="button" id="contact-button">
          Experience
        </button></a
      >

      <a
        href="/training-user/<%= data.trainingProfile[0].training_id %>/formation"
        ><button class="main-boutton" role="button" id="contact-button">
          Formation
        </button></a
      >

      <div id="popup-information" style="display: none">
        <p>Import succeeds !</p>
      </div>

      <!-- FLEX EXPERIENCE AND FORM -->
      <div class="flex-experience-form">
        <!-- Experience box -->
        <% if (data.contentTypeResult === 'experience') { %>
        <div class="experience-container">
          <h2 id="experience-title">Experience</h2>
          <p id="has-no-experience-text" style="display: none">
            You don't have experience ... let's add one
          </p>
          <p id="has-no-formation-text" style="display: none"></p>
          <div class="experience-content">
            <% for(let i=0; i < data.trainingCompany.length ; i++) {%>
            <div class="experience-box">
              <div class="job-title" id="job-title-experience">
                <%- data.trainingCompany[i].job_title %>
              </div>
              <div class="company-name">
                <%- data.trainingCompany[i].company_name %>
              </div>
              <div class="start-date">
                <%- data.trainingCompany[i].start_date %> <%-
                data.trainingCompany[i].end_date %>
              </div>
              <div class="description">
                <%- data.trainingCompany[i].description %>
              </div>
              <form
                action="/delete-company-experience"
                method="post"
                id="delete-company-experience"
              >
                <input
                  type="hidden"
                  name="company_experience_id"
                  value="<%= data.trainingCompany[0].company_experience_id %>"
                />
                <input
                  type="hidden"
                  name="training_id"
                  value="<%= data.trainingCompany[0].training_id %>"
                />
                <button type="submit" id="delete-company-experience">
                  Delete
                </button>
              </form>
            </div>
            <%}; %>
            <button class="main-boutton" id="add-experience">
              Add Experience
            </button>
          </div>
        </div>
        <div class="container">
          <form
            class="is-readonly"
            action="/training-user-update/<%= data.trainingProfile[0].training_id %>"
            method="post"
          >
            <div class="form-group">
              <label for="certificationCode">Certification Code</label>
              <input
                type="text"
                class="form-control is-disabled"
                id="certificationCode"
                placeholder="<%= data.trainingProfile[0].certificationCode %>"
                value="<%- data.trainingProfile[0].certificationCode %>"
                name="certificationCode"
                disabled
              />
            </div>
            <div class="form-group">
              <label for="fullName">Fullname</label>
              <input
                type="text"
                class="form-control is-disabled"
                id="fullName"
                placeholder="<%= data.trainingProfile[0].fullName %>"
                value="<%- data.trainingProfile[0].fullName %>"
                name="fullName"
                disabled
              />
            </div>
            <div class="form-group">
              <label for="company">Company</label>
              <input
                type="text"
                class="form-control is-disabled"
                id="company"
                placeholder="<%= data.trainingProfile[0].company %>"
                value="<%- data.trainingProfile[0].company %>"
                name="company"
                disabled
              />
            </div>
            <div class="form-group">
              <label for="position">Position</label>
              <input
                type="text"
                class="form-control is-disabled"
                id="position"
                placeholder="<%= data.trainingProfile[0].position %>"
                value="<%- data.trainingProfile[0].position %>"
                name="position"
                disabled
              />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="text"
                class="form-control is-disabled"
                id="email"
                placeholder="<%= data.trainingProfile[0].email %>"
                value="<%- data.trainingProfile[0].email %>"
                name="email"
                disabled
              />
            </div>
            <div class="form-group">
              <label for="telephone">Telephone</label>
              <input
                type="text"
                class="form-control is-disabled"
                id="telephone"
                placeholder="<%= data.trainingProfile[0].telephone %>"
                value="<%- data.trainingProfile[0].telephone %>"
                name="telephone"
                disabled
              />
            </div>
            <div class="form-group">
              <label for="date">Date</label>
              <input
                type="text"
                class="form-control is-disabled"
                id="date"
                placeholder="<%= data.trainingProfile[0].date %>"
                value="<%- data.trainingProfile[0].date %>"
                name="date"
                disabled
              />
            </div>
            <div class="form-group">
              <label for="title">Title</label>
              <input
                type="text"
                class="form-control is-disabled"
                id="title"
                placeholder="<%= data.trainingProfile[0].title %>"
                value="<%- data.trainingProfile[0].title %>"
                name="title"
                disabled
              />
            </div>
            <div class="form-group">
              <label for="futureTopics">Future Topics</label>
              <input
                type="text"
                class="form-control is-disabled"
                id="futureTopics"
                placeholder="<%= data.trainingProfile[0].futureTopics %>"
                value="<%- data.trainingProfile[0].futureTopics %>"
                name="futureTopics"
                disabled
              />
            </div>
            <button type="button" class="btn btn-default btn-edit js-edit">
              Edit
              <input type="submit" value="Save" id="submit-save" />
            </button>
          </form>
        </div>
        <% } else if (data.contentTypeResult === 'formation') { %>
        <div class="flex-formation-pdf">
          <div class="formation-container">
            <h2>Formation :</h2>
            <p id="has-no-formation-text" style="display: none">
              You don't have formation ... let's add one
            </p>
            <p id="has-no-experience-text" style="display: none"></p>
            <div class="formation-content">
              <% for(let i=0; i < data.trainingFormation.length ; i++) {%>
              <div class="formation-box">
                <div class="formation-title" id="formation-title">
                  <%- data.trainingFormation[i].title %>
                </div>
                <div id="trainer-name">
                  <%- data.trainingFormation[i].trainer %>
                </div>
                <div class="start-date">
                  <%- data.trainingFormation[i].start_date %> <%-
                  data.trainingFormation[i].end_date %>
                </div>
                <form
                  action="/delete-formation"
                  method="post"
                  id="delete-company-experience"
                >
                  <input
                    type="hidden"
                    name="formation_id"
                    value="<%= data.trainingFormation[i].formation_id %>"
                  />
                  <input
                    type="hidden"
                    name="training_id"
                    value="<%= data.trainingFormation[0].training_id %>"
                  />
                  <button type="submit" id="delete-company-formation">
                    Delete
                  </button>
                  <button id="pdf-button" class="official-form">
                    <a
                      href="/download-formation-pdf/<%= data.trainingFormation[i].formation_id %>"
                      >Télécharger</a
                    >
                  </button>
                </form>
              </div>
              <%}; %>
              <button class="main-boutton" id="add-formation-button">
                Add formation
              </button>
            </div>
          </div>
          <div id="pdf-panel">
            <h2>Import certificate</h2>
            <form
              action="/import-certificate-pdf"
              method="POST"
              enctype="multipart/form-data"
              id="importe-cetificate-pdf"
              class="official-form"
            >
              <label for="pdfFile">Select certificate :</label>
              <input
                type="hidden"
                name="training_id"
                value="<%= data.trainingProfile[0].training_id %>"
              />
              <select name="formation_id">
                <% for (i=0; i < data.trainingFormation.length ; i++) { %>
                <option value="<%=  data.trainingFormation[i].formation_id  %>">
                  <%= data.trainingFormation[i].title %>
                </option>
                <% } %>
              </select>
              <input type="file" name="pdfFile" id="pdf-file" accept=".pdf" />
              <button type="submit" id="import-pdf-certificate-button">
                Import certificate
              </button>
            </form>
          </div>
        </div>
        <% }%>
      </div>
    </div>

    <!-- Experience Modal   -->

    <div
      class="modal modal-dialog-scrollable"
      style="display: none"
      id="add-experience-modal"
    >
      <div class="experience-modal">
        <span class="close" id="close-modal-experience">&times;</span>
        <h2>Add experience</h2>
        <form
          action="/add-company-experience"
          method="post"
          class="is-editing"
          id="editUserForm"
          class="official-form"
        >
          <label for="company_name">Company:</label>
          <input
            type="text"
            id="company_name"
            name="company_name"
            class="official-input"
            required
          /><br />

          <label for="job_title">Job title :</label>
          <input
            type="text"
            id="job_title"
            name="job_title"
            class="official-input"
            required
          /><br />

          <label for="description"> Description :</label>
          <input
            type="text"
            id="description"
            name="description"
            class="official-input"
            required
          /><br />

          <label for="start_date"> Start date :</label>
          <input
            type="date"
            id="start_date"
            name="start_date"
            class="official-input"
            required
          /><br />

          <label for="end_date"> End date :</label>
          <input
            type="date"
            id="end_date"
            name="end_date"
            class="official-input"
            required
          /><br />

          <input
            type="hidden"
            name="training_id"
            value="<%= data.trainingProfile[0].training_id %>"
          />

          <input
            type="submit"
            value="Save"
            class="main-boutton"
            id="add_experience"
          />
        </form>
      </div>
    </div>

    <!-- Form Add formation  -->

    <div
      id="add-formation-modal"
      class="modal modal-dialog-scrollable"
      style="display: none"
    >
      <div class="experience-modal">
        <span class="close" id="close-formation-modal">&times;</span>
        <h2>Add formation</h2>
        <form
          action="/add-formation"
          method="post"
          class="is-editing"
          class="official-form"
          id="editUserForm"
        >
          <label for="title">Title:</label>
          <input
            type="text"
            id="title"
            name="title"
            class="official-input"
            required
          /><br />

          <label for="trainer">Trainer :</label>
          <input
            type="text"
            id="formation-trainer"
            name="trainer"
            class="official-input"
            required
          /><br />

          <label for="start_date"> Start date :</label>
          <input
            type="date"
            id="formation-start-date"
            name="formation_start_date"
            class="official-input"
            required
          /><br />

          <label for="end_date"> End date :</label>
          <input
            type="date"
            id="formation-end-date"
            name="formation_end_date"
            class="official-input"
            required
          /><br />

          <input
            type="hidden"
            name="training_id"
            value="<%= data.trainingProfile[0].training_id %>"
          />

          <input
            type="submit"
            value="Save"
            class="main-boutton"
            id="add_formation"
          />
        </form>
      </div>
    </div>

    <!-- <script>
      document.addEventListener("DOMContentLoaded", function () {
        const editButtons = document.querySelectorAll(".js-edit");
        const saveButtons = document.querySelectorAll(".js-save");
        const addExperience = document.getElementById("add-experience");
        const modalContent = document.querySelector(".experience-modal");
        const pdfPanel = document.getElementById("pdf-panel");
        const closeModalFormation = document.getElementById(
          "close-formation-modal"
        );
        const closeModalExperience = document.getElementById(
          "close-modal-experience"
        );
        const addExperienceModal = document.getElementById(
          "add-experience-modal"
        );
        const popup = document.getElementById("popup");
        const experienceBox = document.querySelector(".experience-box");
        const formationBox = document.querySelector(".formation-box");

        const hasNoExperienceText = document.getElementById(
          "hasNoExperienceText"
        );

        const hasNoFormationText =
          document.getElementById("hasNoFormationText");

        const jobTitleElement = document.getElementById("job-title");

        const experienceContainer = document.querySelector(
          ".experience-container"
        );
        const editForm = document.querySelector(".container");
        const formationButton = document.getElementById("formation-button");
        const experienceButton = document.getElementById("experience-button");
        const formationContainer = document.querySelector(
          ".formation-container"
        );
        const addFormationModal = document.getElementById(
          "add-formation-modal"
        );
        const addFormation = document.getElementById("add-formation");

        const downLoadButton = document.getElementById("pdf-button");

        const popupInformation = document.getElementById("popup-information");
        const importCertificateButton = document.getElementById(
          "import-pdf-certifiacte-button"
        );

        // Si la box ne contient pas d'expérience, masquez-la
        if (jobTitleElement) {
          const isEmpty = jobTitleElement.innerText;
          if (!isEmpty || isEmpty === null) {
            experienceBox.style.display = "none";
            hasNoExperienceText.style.display = "block";
          }
        } else {
          console.log(jobTitleElement);
          hasNoExperienceText.style.display = "block";
        }

        if (jobTitleElement) {
          const isEmptyFormation = jobTitleElement.innerText;
          if (!isEmptyFormation || isEmptyFormation === null) {
            formationBox.style.display = "none";
          }
        } else {
          hasNoFormationText.style.display = "block";
        }

        formationButton.addEventListener("click", () => {
          experienceContainer.style.display = "none";
          editForm.style.display = "none";
          formationContainer.style.display = "block";
          pdfPanel.style.display = "block";
        });

        experienceButton.addEventListener("click", () => {
          experienceContainer.style.display = "block";
          editForm.style.display = "block";
          formationContainer.style.display = "none";
          pdfPanel.style.display = "none";
        });

        editButtons.forEach((button) => {
          button.addEventListener("click", function () {
            const form = this.closest("form");
            form.classList.remove("is-readonly");
            form.classList.add("is-editing");
            form
              .querySelectorAll("input, textarea")
              .forEach((input) => input.removeAttribute("disabled"));
          });
        });

        saveButtons.forEach((button) => {
          button.addEventListener("click", function () {
            const form = this.closest("form");
            form.classList.remove("is-editing");
            form.classList.add("is-readonly");
            form
              .querySelectorAll("input, textarea")
              .forEach((input) => input.setAttribute("disabled", "disabled"));
          });
        });

        //Formation
        addFormation.addEventListener("click", () => {
          addFormationModal.style.display = "block";
        });

        closeModalFormation.addEventListener("click", () => {
          addFormationModal.style.display = "none";
        });

        //Experience
        addExperience.addEventListener("click", () => {
          addExperienceModal.style.display = "block";
        });

        closeModalExperience.addEventListener("click", () => {
          addExperienceModal.style.display = "none";
        });

        importCertificateButton.addEventListener("click", () => {
          popupInformation.style.display = "block";
        });

        importCertificateButton.addEventListener("click", function (event) {
          event.preventDefault(); // Empêche le comportement par défaut du formulaire

          // Récupérez le formulaire et créez un objet FormData
          let formData = new FormData(
            document.getElementById("importe-cetificate-pdf")
          );

          fetch("/import-certificate-pdf", {
            method: "POST",
            body: formData,
          })
            .then((data) => {
              console.log(formData);
              popupInformation.style.display = "block";
              setTimeout(() => {
                popupInformation.style.display = "none";
              }, 1500);
            })
            .catch((error) => {
              // La requête a échoué, affichez un message d'erreur si nécessaire
              console.error(
                "There has been a problem with your fetch operation:",
                error
              );
            });
        });
      });
    </script> -->
  </body>
</html>
